<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
    </head>

    <body>

        <div num="false" class="movie-item column-6 " aria-hidden="false" style="float: left; list-style: none; position: relative; width: 185px; margin-right: 18px;">
						<a class="movie-item__image ratio-poster" href="/movie/player/M000337133" data-index="1" data-code="M000337133">
							<img alt="디바" onerror="onErrorVerticalImage(this)" class="image-cover lazy loaded" data-ll-status="loaded" src="https://image.tving.com/resize_cdn.php?u=https://image.tving.com/upload/cms/caim/CAIM2100/M000337133.png&amp;w=186">

						</a>
						<div class="movie-item__info">
							 <p></p>
						</div>
					</div>


    </body>
